img.item-image{
    width: 95%;
    padding: 5%;
    border-radius: 10%;
    -webkit-filter: grayscale(0%);
}
img.item-image:hover{
    -webkit-filter: grayscale(100%);
}
div.centertext{
    text-align: center;
}
div.full-height{
    height: auto;
}
div.agreement{
    text-align: center;
    font-size: 143%;
    margin: 5% 0;
}

