html,
body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {
    padding: 70px 15px 20px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.jumbo {
    text-align: center;
    background-color: transparent;
}
.jumbo .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.not-set {
    color: #c55;
    font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: "\e151";
}
a.desc:after {
    content: "\e152";
}
.sort-numerical a.asc:after {
    content: "\e153";
}
.sort-numerical a.desc:after {
    content: "\e154";
}
.sort-ordinal a.asc:after {
    content: "\e155";
}
.sort-ordinal a.desc:after {
    content: "\e156";
}
.grid-view th {
    white-space: nowrap;
}
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.discription {
    font-size: 30px;
    color: #515151;
    text-align: center;
}
.title-center{
    text-align: center;
}
.title-upper-case{
    text-transform: uppercase;
    padding-bottom: 3%;
}
.about-row-bold{
    font-weight: bold;
}
.about-row{
    font-size:128% !important;
}

.about-row-bold{
    font-size:115% !important;
}

dl.cont{
    margin: 2% 5%;
}
dl.cont dt {
    display:block;
    width:69px;
    width:62px;
    float:left;
    height:69px;
}
dl.cont dd {
    display:table-cell;
    height:69px;
    font-size:130%;
    padding-left:20px;
    /*padding-top:10px;*/
    vertical-align: middle;
}
.block.bg {
    background: url(../img/top-bg.png) repeat;
}
.block.pad {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}
p.send{
    margin-bottom: 20px;
}
#copy{
    height: 70px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
#technologies {
    overflow: hidden;
    height: 85px;
}
#technologies ul {
    width: 70%;
    padding-top: 26px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 15px;
    list-style-type: none;
}
#technologies li {
    background: none;
    float: right;
    margin: 0;
    padding-left: 1%;
}
#copy a {
    color: #666666;
    padding: 5px;
    display: inline-block;
}
#footer {
    height: 15%;
    padding: 0 3%;
    position: relative;
    z-index: 1000;
    background: url(../img/top-bg.png) repeat;
}
.technologies li img {
    height: 50px;
}
